/*
Green: 3FC6C2 
Orange: FFAC5C
Red F5625B
*/

@font-face{
    font-family: "Christopherhand";
    src:url('fonts/comesinhandy.ttf');
}

@font-face{
    font-family:"Avenir";
    src:url('fonts/AvenirLTStd-Book.otf');
}
.spec-font {
    font-family: "Christopherhand";
}

body {
    font-family: "Avenir"
}
.nav-link {
    font-size:20px;
    padding-left:60px !important;
    padding-right:60px !important; 
}

.my-green {
    color: #3FC6C2;
}

.my-orange {
    color: #FFAC5C;
}
.my-red {
    color: #F5625B;
}